#carouselExampleControls .carousel-item {
    height: 65vh;
}

#carouselExampleControls .carousel-item img {
    opacity: 0.7;
}

.bg-sky {
    background: #F4FAFD;
    border-radius: 5px;
}
.bg-light-sky{
    padding:  70px 50px;
    background: #289BDE;
    border-radius: 5px;
}